@import "tailwindcss";
@import "./game-board.css";
@import "./theme.css";

/* accessible font sizing */
:root {
  font-size: 100%; /* 100% of the user's preferred font size (usually 16px) - this will allow users to resize the text across the app. */
}
/* set the body default font size and line height */
body {
  font-size: 1rem;
  line-height: 1.5;
}
/* remember, changing the base font size also undermine's the user's preference - browser preference's aren't written in percentages, they ask what pixel size the user wants to read at, so if you rescale to base 10, the math is easier, but the user's 20px preference suddenly gets reset to 12.5px. For accessibility, let the browser set the default - you're typing on a big ole calculator right now, so use it to divide by 16 */

@layer base{
    *:focus-visible{
        /* Inner indicator */
        outline: 3px var(--color-primary-darkest) solid;
        outline-offset: 0;
        
        /* Outer indicator */
        box-shadow: 0 0 0 5px var(--color-tertiary-lightest);
    }

    body{
        @apply p-3 bg-background text-text;
    }

    /* some common element theme defaults */
    a{
        color: var(--color-primary-light)
    }
    a:hover{
        color: #fff;
        text-decoration: underline;
    }
    a:active{
        color: var(--color-text-subtle)
    }

    h1, h2, h3, h4, h5, h6{
        @apply mt-4 mb-2;
    }
    h1{
        @apply text-5xl;
    }
    h2{
        @apply text-4xl;
    }
    h3{
        @apply text-3xl;
    }
    h4{
        @apply text-2xl;
    }
    h5{
        @apply text-xl;
    }
    h6{
        @apply text-lg;
    }
    p{
        @apply mb-2;
    }
}

/* some default common global component behavior */
@layer components{
    .logo {
        width: 2.5rem;
        height: auto;
    }

    .button{
        @apply m-2 px-7 py-3 rounded-md inline-flex items-center justify-center font-semibold;
    }
    .button:hover{
        text-decoration: none;
        cursor: pointer;
    }
    .button--primary{
        @apply bg-primary text-text-inverse;
    }
    .button--primary:hover{
        @apply bg-primary-light text-text-inverse;
    }
    .button--secondary{
        @apply bg-secondary text-text-inverse;
    }
    .button--secondary:hover{
        @apply bg-secondary-light text-text-inverse;
    }
    .button--stone{
        @apply bg-stone-400 text-text-inverse;
    }
    .button--stone:hover{
        @apply bg-stone-200 text-text-inverse;
    }
}