@import "tailwindcss";

/* accessible font sizing */
:root {
  font-size: 100%; /* 100% of the user's preferred font size (usually 16px) - this will allow users to resize the text across the app. */
}
/* set the body default font size and line height */
body {
  font-size: 1rem;
  line-height: 1.5;
}
/* remember, changing the base font size also undermine's the user's preference - browser preference's aren't written in percentages, they ask what pixel size the user wants to read at, so if you rescale to base 10, the math is easier, but the user's 20px preference suddenly gets reset to 12.5px. For accessibility, let the browser set the default - you're typing on a big ole calculator right now, so use it to divide by 16 */

/** THEME **/
@theme {
    --color-white: #fff;
    --color-black: #000;
    /* use the "stone" grays that come with Tailwind as base grays, no need to set all that up here :) */
    /* Why stone instead of true neutral? Feels a little warmer than true neutral, friendlier, game-y-er, forest-y-er. */

    --color-primary-light: color-mix(in srgb, var(--color-primary) 75%, white);
    --color-primary: #77B255;
    --color-primary-dark: #5E8D44;
    --color-primary-darkest: #2D332A;

    --color-secondary-light: color-mix(in srgb, var(--color-secondary) 75%, white);
    --color-secondary: #9E5CBF; /*use: secondary elements like buttons, or any other element that should pop next to primary. Don't overuse.*/
    --color-secondary-dark: color-mix(in srgb, var(--color-secondary) 75%, black);

    --color-tertiary-lightest: color-mix(in srgb, var(--color-tertiary) 30%, white);
    --color-tertiary-light: color-mix(in srgb, var(--color-tertiary) 75%, white);
    --color-tertiary: #BF5C87; /*if used, use very sparingly for small decorative elements, or the snake food*/
    --color-tertiary-dark: color-mix(in srgb, var(--color-tertiary) 75%, black);

    /* "warning": tailwind amber, good background value is 700 */
    /* "error": tailwind red, good background value is 600 */
    /* "success": primary already uses a close enough green, but if primary ever changes to something else, use Tailwind green, good background value would be 600 again */

    --color-background: #101512;
    --color-surface: #1C211E;
    
    --color-text: #E8EAE7;
    --color-text-subtle: #B5B8B3;
    --color-text-inverse: #1C1719;
    --color-text-inverse-subtle: #332A2E;
}

*:focus-visible{
    /* Inner indicator */
    outline: 3px var(--color-primary-darkest) solid;
    outline-offset: 0;
    
    /* Outer indicator */
    box-shadow: 0 0 0 5px var(--color-tertiary-lightest);
}

:root{
    @apply p-3;
    background-color: var(--color-background);
    color: var(--color-text)
}

/* some common element theme defaults */
a{
    color: var(--color-primary-light)
}
a:hover{
    color: #fff;
    text-decoration: underline;
}
a:active{
    color: var(--color-text-subtle)
}

.button{
    @apply m-2 px-7 py-3 rounded-md inline-flex items-center justify-center font-semibold;
}
.button:hover{
    text-decoration: none;
    cursor: pointer;
}
.button--primary{
    @apply bg-primary text-text-inverse;
}
.button--primary:hover{
    @apply bg-primary-light text-text-inverse;
}
.button--secondary{
    @apply bg-secondary text-text-inverse;
}
.button--secondary:hover{
    @apply bg-secondary-light text-text-inverse;
}
.button--stone{
    @apply bg-stone-400 text-text-inverse;
}
.button--stone:hover{
    @apply bg-stone-200 text-text-inverse;
}

h1, h2, h3, h4, h5, h6{
    @apply mt-4 mb-2;
}
h1{
    @apply text-5xl;
}
h2{
    @apply text-4xl;
}
h3{
    @apply text-3xl;
}
h4{
    @apply text-2xl;
}
h5{
    @apply text-xl;
}
h6{
    @apply text-lg;
}
p{
    @apply mb-2;
}